---
// Local constants
const title = 'Home Page',
	description =
		'This is a page description and it needs to be between 12 and 160 characters. This is a page description and it needs to be between 12 and 160 characters.',
	structuredDataType = 'Organization'

// Components
import Layout from '@layouts/LayoutPage.astro'

// Images
// import featuredImage from '@assets/hero.png'
---

<Layout
	description={description}
	structuredDataType={structuredDataType}
	title={title}
>
	<h1>Hello World</h1>
</Layout>
