@font-face {
  font-family: "Inter Fallback: Arial";
  src: local('Arial'), local('ArialMT');
  font-display: swap;
  ascent-override: 90.4365%;
  descent-override: 22.518%;
  line-gap-override: 0%;
  size-adjust: 107.1194%;
}
@font-face {
  font-family: "Inter Fallback: Roboto";
  src: local('Roboto'), local('Roboto-Regular');
  font-display: swap;
  ascent-override: 90.2384%;
  descent-override: 22.4686%;
  size-adjust: 107.3546%;
}@font-face {
  font-family: "Truculenta Fallback: Arial";
  src: local('Arial'), local('ArialMT');
  font-display: swap;
  ascent-override: 126.8539%;
  descent-override: 41.0765%;
  line-gap-override: 0%;
  size-adjust: 82.7724%;
}
@font-face {
  font-family: "Truculenta Fallback: Roboto";
  src: local('Roboto'), local('Roboto-Regular');
  font-display: swap;
  ascent-override: 126.576%;
  descent-override: 40.9865%;
  size-adjust: 82.9541%;
}